
a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 10px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 75px;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

h1 {
  font-size: 562.5%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

/*there's no need to specify the units with 0{doesn't matter if it's px or em*/

body {
  /* THIS ALSO HSA THE SAME EFFECT:
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

.beg {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.C-language {
  width: 30%;
  border-radius: 10%;
  float: left;
  margin-right: 30px;
}

.wd-image {
  width: 30%;
  float: right;
  margin-left: 30px;
  border-radius: 10%;
}

hr {
  border-style: dotted none none none;
  border-width: 7px;
  width: 4%;
  color: #eaf6f6;
  padding-bottom: 70px;
}

.footer-link {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
}


.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf) );
	background:-moz-linear-gradient( center top, #66bfbf 5%, #66bfbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
	background-color:#66bfbf;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0px;
	border:1px solid #66bfbf;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #eaf6f6;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf) );
	background:-moz-linear-gradient( center top, #66bfbf 5%, #66bfbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
	background-color:#66bfbf;
}
.btn:active {
	position:relative;
	top:1px;
}


.profile-img {
  margin-top: 80px;
  width: 10%;
}

.intro {
  width: 25%;
  margin: auto;
}

.contact-msg {
  width: 35%;
  margin: auto;
}

.copyright {
  font-size: 0.75rem;
  color: #eaf6f6;
}
